/backend/.vs/PKP/DesignTimeBuild/.dtbcache.v2
/backend/.vs/PKP/FileContentIndex/624fb9b1-2b11-474c-8515-3bc413f34b4c.vsidx
/backend/.vs/PKP/FileContentIndex/a6ef72ca-18b7-475b-b018-f7c8f0dc10ca.vsidx
/backend/.vs/PKP/FileContentIndex/cfdecbf2-3187-44f3-bde1-d8dd8f17927d.vsidx
/backend/.vs/PKP/FileContentIndex/e555c83b-4eb7-435b-aacb-139d2bd11d9f.vsidx
