$action-color: #4675ec;
$action-color-active: #3f65c5;
$action-color-secondary: #b2bed2;
$background-color: #1D1E2C;
$main-color: #a7d5ea;
$text-color: #3d3f44;
$text-color-secondary: #d4dce9;
$color-danger: #ff0e0ecb;
$white: #fff;

$header-height: 75px;