
@import './components';
@import './variables';
@import './sidebar';
@import './navigation-header';
@import './dashboard';

#root {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
