@font-face {
  font-family: "Gilroy-Bold";
  src: url("./../../public/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("./../../public/fonts/Gilroy-Heavy.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("./../../public/fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./../../public/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./../../public/fonts/Gilroy-Regular.ttf");
}
* {
  font-family: "Gilroy-Medium";
}

.divider {
  border: 2px solid #4675ec;
}

.center {
  display: flex;
  justify-content: center;
}

.centered-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 75px);
}

.centered-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40%;
  min-height: 50%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #a7d5ea;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.centered-form .centered-form-content {
  margin: 20px;
  font-size: 16px;
}

.centered-form h2 {
  text-align: center;
}

.centered-form label {
  max-width: 300px;
  margin-bottom: -18px;
}

.centered-form input {
  width: 400px;
  padding: 10px;
}

.centered-form .button {
  width: 100%;
  padding: 10px;
  background-color: #4675ec;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.centered-form .button:hover {
  background-color: #3f65c5;
}

.form-input label {
  color: #3d3f44;
  font-size: 16px;
}

.form-input input {
  background-color: #fff;
  border: 2px solid #4675ec;
  border-radius: 0px;
  color: #3d3f44;
  margin-top: 20px;
  font-size: 16px;
}
.form-input input.is-invalid {
  border: 2px solid rgba(255, 14, 14, 0.7960784314);
}

.form-input *:focus {
  background-color: #fff;
  border: 2px solid #4675ec;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none;
  color: #3d3f44;
}

.btn {
  min-width: 50px;
  font-size: 19px;
}

.btn-primary {
  background-color: #4675ec !important;
  border-color: #4675ec !important;
}
.btn-primary:hover {
  background-color: #3f65c5 !important;
}

.btn-disabled {
  background-color: #b2bed2 !important;
  color: #d4dce9 !important;
  cursor: default !important;
}

.sidebar {
  width: 180px;
  height: 100vh;
  padding-top: 20px;
  padding-left: 20px;
  color: #3d3f44;
}

.sidebar-header {
  color: #3d3f44;
  margin-left: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.sidebar-container {
  width: 100%;
  height: 96%;
  border-radius: 15px 0px 0px 15px;
  background-color: #a7d5ea;
}

.sidebar-splitter {
  height: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1D1E2C;
}

.sidebar-item {
  position: static;
  width: 100%;
  text-align: center;
  user-select: none;
  font-size: 12px;
  cursor: pointer;
}

.sidebar-activeItem {
  background-color: #1D1E2C;
  border-radius: 20px 0 0 20px;
  margin-left: 10px;
}

.navigation-header {
  height: 75px;
  width: 100%;
  background-color: #a7d5ea;
}

.navigation-header-content {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./../../public/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("./../../public/fonts/Gilroy-Heavy.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("./../../public/fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./../../public/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./../../public/fonts/Gilroy-Regular.ttf");
}
* {
  font-family: "Gilroy-Medium";
}

.dashboard-header {
  margin-top: 20px;
  width: 80vw;
  height: 120px;
  justify-content: space-between;
  display: flex;
}

.summary-card {
  width: 25vw;
  height: 100%;
  background-color: #a7d5ea;
  border-radius: 10px;
  color: #3d3f44;
  user-select: none;
}
.summary-card .summary-card-label {
  margin-left: 20px;
  font-family: "Gilroy-Light";
  font-size: 15px;
}
.summary-card .summary-card-button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}